ul {
	list-style-type: none;
	padding: 0;
}

li {
	border-bottom: solid 1px gray;
	padding: 0.5rem;
}

a {
	text-decoration: none;
	color: #444;
	transition: color 0.5s ease;
}

a:hover {
	color: rgb(151, 150, 150);
}

img {
	height: 140px;
	width: 140px;
	float: right;
	margin-right: 300px;
	margin-left: -150px;
}

* > body {
	height: auto;
	background: linear-gradient(45deg, #9411f2, #0c9daa, #fff);
	height: 100vh;
}

body {
	font-family: "Open Sans", arial, sans-serif;
	letter-spacing: 0.03em;
}

p {
	font-size: 14px;
	margin: 0;
	color: #aaa;
}

h3 {
	margin: 0.5em 0;
}

* > button {
	border-radius: 5px;
}

button {
	padding: 1em 2em;
	border: none;
	font-size: 1em;
	transition: all 1s ease;
	outline: none;
	letter-spacing: 0.1em;
}

button.remove {
	background-color: #1070be;
	color: white;
}

button.remove:hover {
	background-color: #e22929;
}

#app {
	height: 100%;
	width: 100%;
}

#main {
	display: grid;
	justify-content: center;
	justify-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	width: 40vw;
	box-shadow: -1px 4px 20px -6px;
	background: rgb(240, 234, 234);
	border-radius: 10px;
	clear: right;
}

/* form */
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 2;
	margin: 1em;
}

input {
	padding: 0.3em;
	margin: 0.5em 0;
	font-size: 1.5em;
	border-radius: 5px;
}

button {
	color: white;
	background-color: #9411f2;
}

button:hover {
	background-color: #e242e2;
}

button:disabled {
	background-color: #ccc;
}

.MuiSvgIcon-root {
	margin-bottom: -6px;
	margin-right: 3px;
}
